<html>
<head>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="./script/app.js"></script>
</head>
<body>
    <div class="container">
        <div  class="jumbotron" id="main">
            <div  class="jumbotron" id="main">
                <h1> Welcome to UrlCrunch!</h1>
                <div id="appContent">
                    <h4>Get your URL into shape with this simple url shortener.<h4>
                    <div class="input-group">
                              <span class="input-group-addon" id="basic-addon3">Enter URL:</span>
                              <input ype="text" class="form-control" id="urlInput" aria-describedby="basic-addon3"/>
                    </div>
                    <br>
                    <div><button class="btn btn-primary" id="submitUrl">Submit</button></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
